.App {
  text-align: center;
}

.form-fade-animation {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  animation: fade-in-keyframes 1s;  
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}

.image {
  height: 300px;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 900px;
}

.words {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 900px;
}





